<div class="hero">

    <h1>
        Кто ты из администрации
        <span class="gold-text">DEZZER?</span>
    </h1>

    <div class="decor-line"></div>

    <p>
        Ответь на 12 вопросов и узнай, на кого ты больше всего похожа.
    </p>

    <a asp-action="Test" class="gold-button">
        Начать тест
    </a>

</div>